<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="text-info">Google Keywords Analytic</span></a>
    </div>

    <div class="navbar-right collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= controller_name == 'keyword_data_collect' ? 'active' : '' %>">
          <a href="/keyword_data_collect"><i class="text-info glyphicon glyphicon-cloud-upload"></i> Upload keywords</a>
        </li>
        <li class="<%= controller_name == 'report' ? 'active' : '' %>">
          <a href="/report"><i class="text-info glyphicon glyphicon-book"></i> Reports</a>
        </li>
        <li>
          <a href="/authentication" data-method="delete"><i class="text-info glyphicon glyphicon-log-out"></i> Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>