<div class="page-header">
  <h1>Utilities <small class="text-info">Analyze your data</small></h1>
</div>

<div class="row">

  <a href="/utility/word-url-ads">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" data-toggle="tooltip" data-placement="bottom" title="Know how many ads urls contain word you specify">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <p><i class="glyphicon glyphicon-star"></i></p>
          <p>Word URL (ADs)</p>
          <small><em>Find word in ads URL</em></small>
        </div>
      </div>
    </div>
  </a>

  <a href="/utility/url-occurrence-ads">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" data-toggle="tooltip" data-placement="bottom" title="Know how many times your url appear in ads">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <p><i class="glyphicon glyphicon-ok-sign"></i></p>
          <p>URL occurrence (ADs)</p>
          <small><em>Specific ads URL occerrence</em></small>
        </div>
      </div>
    </div>
  </a>

  <a href="/utility/word-url">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" data-toggle="tooltip" data-placement="bottom" title="Know how many non-ads urls contain word you specify">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <p><i class="glyphicon glyphicon-star-empty"></i></p>
          <p>Word URL</p>
          <small><em>Find word in non ads url</em></small>
        </div>
      </div>
    </div>
  </a>

  <a href="/utility/url-occurrence">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" data-toggle="tooltip" data-placement="bottom" title="Know how many times your url appear in non-ads">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <p><i class="glyphicon glyphicon-ok-circle"></i></p>
          <p>URL occurrence</p>
          <small><em>Specific URL occerrence</em></small>
        </div>
      </div>
    </div>
  </a>

</div>