<div class="login-panel panel panel-info">
  <div class="panel-heading">
      <h3 class="panel-title text-center">Please Sign In</h3>
  </div>
  <div class="panel-body">

    <% flash.each do |name, msg| -%>
      <div class="alert alert-danger alert-dismissable">
        <%= msg %>
      </div>
    <% end -%>

    <%= form_tag('/authentication', method: 'post', role: 'form') do %>
      <fieldset>
        <div class="form-group">
          <input  class="form-control" placeholder="Username" 
                  name="user[username]" type="text"
                  required>
        </div>
        <div class="form-group">
          <input  class="form-control" placeholder="Password" 
                  name="user[password]" type="password"
                  required>
        </div>
        <button   type="submit" class="btn btn-lg btn-success btn-block">
          <i class="glyphicon glyphicon-log-in"></i> Sign in
        </button>
      </fieldset>
    <% end %>

  </div>

  <p class="text-center">
    <small>I'm not a member yet, <a href="/authentication/new">Sign up</a>.</small>
  </p>
</div>