<div ng-app="keywordAnalyticApp">
  <div ng-controller="UploadCtrl" ng-cloak>

    <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title text-center">Upload keywords</h3>
      </div>
      <div class="panel-body">

        <form role="form">
          <fieldset>
            <div class="form-group">
              <input  class="form-control" name="file" type="file"
                      ng-file-select
                      ng-model="file"
                      ng-file-change="fileChange($files, $event)"
                      accept=".csv">
              <small class="help-block"><span class="text-danger">*</span> Accepts CSV file only</small>
              <small class="help-block"><span class="text-danger">*</span> CSV file can contains 1 - 1000 words</small>
            </div>
            <button class="btn btn-lg btn-primary btn-block" ng-disabled="!file || progress.isUploading" ng-click="upload(file)">
              <i class="glyphicon glyphicon-cloud-upload"></i> Upload
            </button>
          </fieldset>
        </form>

      </div>
    </div>

    <div class="progress" ng-show="progress.isUploading">
      <div class="progress-bar" role="progressbar"
            ng-class="{'progress-bar-info': progress.status === statusMaster.uploading || progress.status === statusMaster.build, 'progress-bar-success': progress.status === statusMaster.done, 'progress-bar-danger': progress.status === statusMaster.error}"
            ng-style="{width: progress.uploadProgress + '%'}">
        <span ng-show="progress.status === statusMaster.uploading">{{progress.uploadProgress}}% {{progress.status}}</span>
        <span ng-show="progress.status !== statusMaster.uploading">{{progress.status}}</span>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="report in reports | orderBy : ['created_at'] : true : limitTo : 12">
        <a ng-href="/report/{{ report.id }}">
          <div class="col-xs-4">
            <div class="panel" ng-class="{'panel-success': report.isNew, 'panel-default': !report.isNew}">
              <div class="panel-body">
                <p>{{ report.name }} <span class="label label-info" ng-show="report.isNew">Latest</span></p>
                <small><em>{{ report.created_at | date : 'medium' }}</em></small>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
