<!DOCTYPE html>
<html>
<head>
  <title>GoogleKeywordsAnalytic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
